{vm_name,"pod_computer_1"}.
{vm,'pod_computer_1@asus'}.
{ip_addr,"localhost"}.
{port,40100}.
{mode,parallell}.
{worker_start_port,40101}.
{num_workers,5}.
{source,{dir,"/home/pi/erlang/d/source"}}.
{services_to_load,["lib_service","computer_service","log_service","local_dns_service"]}.
{files_to_keep,["Makefile","computer_1.config","boot_service","test_ebin","test_src"]}.
{master_dns,{"localhost",portGlurk}}.